
.players-table{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-gap: 2%;
  pad: 2%;
  height: 100%;
}
.player-data {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50% 50%;
}
.player-data img {
  display: flex;
  grid-row: 1/-1;
  grid-column: 1;
  height: 80%;
}
.player-data h2{
  display: flex;
  grid-row: 1;
  grid-column: 2;
}
.player-data h3{
  display: flex;
  grid-row: 2;
  grid-column: 2;
}

.character {
    height: 100%;
    margin-right: 20px;
}
